#container {
	position: relative;
	height: 500px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

#etchBody {
	height: auto;
	width: auto;


}

.draw  {
	height: 20px;
	width: 20px;
	border: 1px solid;
	float: left;
	background-color: #E8F0F0;
	border-color: 	#D1E0E0;
	color: #E8F0F0;
	border-radius: 2px;
	-moz-border-radius: 2px;
}

.draw:hover {
	background-color: black;
	color: black;

}

.trail {
	background-color: black;
	color: black;
}

