body {
	background-color: #EBEBFF;
}

#container {
	position: relative;
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}

tr, td {
	padding: 0;
	margin: 0;
}

#title {
	color: white;
	text-align: center;
	font-family: cursive,sans-serif;
	background-color:	#001F7A;
	border-bottom-color:#3333FF;
	border-bottom-style: solid;
	border-bottom-width: 1em;
	box-shadow: yes;
	padding-top: 10px;
	border-radius: 10px;
	-moz-border-radius:10px;
}

.draw {
	position: relative;
	text-align: center;
	overflow: hidden;
	height: 20px;
	width: 20px;
	border: 1px;
	background-color: 	#F7F7FF;
	border-color:	#9999FF;
	color: #E8F0F0;
}

.draw:hover {
	background-color: black;
	color: black;

}

.trail {
	background-color: black;
	color: black;
}

#buttons {

	text-align: center;
}

#clear{
	font-family: Cursive, sans-serif;
	font-size: 20px;
	padding: 5px 30px 5px 30px; 
	margin-bottom: 30px;
	margin-top: 30px;
	background-color:#D6D6FF;
	border-radius: 5px;
	-moz-border-radius: 5px;
}



